.cheating-modal {
  height: 100%;

  .modal-content {
    height: 100%;

    .modal-body {
      display: flex;
      flex: 1 1 10px;
      align-items: stretch;
      flex-direction: column;

      .editor {
        overflow-y: scroll;
      }
    }
  }
}
