<vue-draggable-resizable :w="width" :h="height" v-on:dragging="onDrag" v-on:resizing="onResize" :active="true" drag-handle=".modal-header" :minw="300" :minh="200" :x="x" :y="y" :z="10000">
  <div class="cheating-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cheating panel</h5>
        <button type="button" class="close" v-on:click="hideModal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <FormComponent></FormComponent>
        <div class="editor">
          <AceEditorComponent v-if="selectedRequest" v-model="body"></AceEditorComponent>
        </div>
      </div>
      <div class="modal-footer">
        <button v-if="selectedRequest" v-on:click="inject()" class="btn btn-primary">モック</button>
        <button v-if="selectedRequest" v-on:click="unmock()" class="btn btn-danger">リセット</button>
      </div>
    </div>
  </div>
</vue-draggable-resizable>
